[data-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field, 
[data-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown, 
[data-theme="dark"] .select2-container--bootstrap-5 .select2-selection { color: #dee2e6; background-color: #333; border: 1px solid #222!important; }
[data-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field { color: #dee2e6; background-color: rgba(0, 0, 0, 0.15); border-color: rgba(0, 0, 0, 0.3); }
[data-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered { color: #dee2e6; }

[data-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
    color: #adb5bd;
}

[data-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear,.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dee2e6'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.75rem auto no-repeat;
}

[data-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__clear:hover,.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__clear:hover {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.75rem auto no-repeat
}

[data-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true] {
    color: #fff;
    background-color: var(--theme-color);
}	

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
	box-shadow: 0 0 0 1px var(--theme-color);
}